@import url('https://fonts.googleapis.com/css2?family=Sunshiney&family=Delius+Swash+Caps&family=Quicksand:wght@400..700&display=swap');

/*-----------------------------------Colours---*/

.blue {
    background-color: #00d9ff;
}

.green {
    background-color: #2bff00
}

.yellow {
    background-color: #f4ff54;
}
 
.orange {
    background-color: #ff8800;
 }
 
 .pink {
     background-color: #f700ff;
 }

 .purple {
     background-color: #8c00ff;
 }

/*-----------------------------------Fonts & Headers---*/

body {
    font-family: "Quicksand", serif;
    font-weight: 500;
}

h1 {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
}

h2 {
    font-family: "Delius Swash Caps", cursive;
}

/*-----------------------------------Nav---*/

nav {
    font-family: "Delius Swash Caps", cursive;
    transform: translate(0, 0.75rem);
    width: 100%;
}

.navbar {
    padding-top: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    font-family: "Sunshiney", cursive;
    font-size: 2.5rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    z-index: 5;
}

.rotate {
    height: 5rem;
    transform: rotate(-15deg);
    padding-top: 0.75rem;
    text-align: center;
    border-radius: 5px;
    width: 100px;
}

.anti-rotate {
    height: 5rem;
    transform: rotate(15deg);
    padding-top: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    float: right;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

ul {
    padding: 0;
}

.navbar-toggler {
    color: #000000;
    border-color: green;
}